*,
:after,
:before {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    color: #8B8B8B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.all-wrapper {
    margin: 60px 20px
}

.happy_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy_image img {
    width: 100%;
    max-width: 350px;
}


h1 {
    color: black;
    font-weight: medium;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title {
    position: relative;
}

.title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    border-bottom: 2px solid #407BFF;
}

.main-text {
    font-weight: 300;
    margin-bottom: 30px;

}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.button {
    color: white;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 10p;
    background-color: #8B8B8B;
    transition: background-color 0.2s ease;
}

.top {
    margin-bottom: 10px;
}

.button:hover,
.button:active {
    background-color: #407BFF;
    cursor: pointer;
}

h2 {
    color: black;
    font-weight: medium;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.option {
    display: flex;
    background-color: white;
    font-size: 13px;
    align-items: center;
    margin: 15px 0;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
}

.option p {
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;
}

.icon {
    width: 40px;
    margin: 20px;
}

@media screen and (min-width: 640px) {
    .sluzby {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .options-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .option {
        flex: 0 0 calc(33.33% - 20px);
        flex-direction: column;
        margin: 0 10px
    }

    .icon {
        margin-top: 40px
    }

    .option p {
        text-align: center;
        height: 50px;
        margin: 0 10px 20px 10px;
    }

    .main-text {
        max-width: 550px;
    }

    .buttons {
        flex-direction: row;
    }

    .button {
        margin: 0px 10px;
    }
}

@media screen and (min-width: 1100px) {

    .all-wrapper {
        margin: auto;
        max-width: 1040px;
        text-align: center;

    }

    .sluzby {
        flex-direction: row;
        align-items: center;
    }

    .intro {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 80px;


    }

    .happy_image {
        flex-basis: 490px;
    }

    .happy_image img {
        max-width: 425px;
    }

    .texts-part-1 {
        text-align: left;
        flex-basis: 490px;
    }

    .kancelar {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }


    .title::after {
        left: 0;
        text-align: left;
        transform: translateX(0%);
    }

    .buttons {
        justify-content: left;
    }

    .blue {
        margin-left: 0;
    }

    .kancelar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .options-wrapper {
        flex-basis: 550px
    }

    .texts-part-2 {
        flex-basis: 430px;
        text-align: left;

    }

    .texts-part-2 h2,
    .texts-part-3 h2 {
        margin: 0;
    }

    .texts-part-2 .main-text,
    .texts-part-3 .main-text {
        margin-bottom: 0;
    }

    .delegati {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
    }

    .texts-part-3 {
        flex-basis: 430px;
        text-align: left;
    }
}